/*style.css*/
.title{
    border: 3px solid yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;   
    background-color: aqua;
}
p{
    font-size: medium;
}
body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a{
    color: crimson;
    font-weight: bold;
}